$primary: #3630ce;
$font-color:#040D12;
$background-dark:#191825;


$rose-orange: #ffab96;
.fill-rose-orange { fill: $rose-orange; }
$rose-red: #ff0f47;
.fill-rose-red { fill: $rose-red; }

$ocean-green: #4ffeba;
.fill-ocean-green { fill: $ocean-green; }
$ocean-blue: #00f2fe;
.fill-ocean-blue { fill: $ocean-blue; }

$sunset-orange: #ff934c;
.fill-sunset-orange { fill: $sunset-orange; }
$sunset-rose: #fc686f;
.fill-sunset-rose { fill: $sunset-rose; }

$forest-light: #28cf7a;
.fill-forest-light { fill: $forest-light; }
$forest-dark: #0b4f6c;
.fill-forest-dark { fill: $forest-dark; }